/* need to add normalize or reset */

* {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Questrial', sans-serif;
}

h1 {
    line-height: 50px;
}

.app-adj {
    font-size: 50px;
    display: inline;
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-family: 'Spirax', cursive;
    font-size: 30px;
}

#headshot {
    width: 200px;
    border-radius: 50%;
    margin-top: 40px;
}



.link {
    text-decoration: none;
    color: grey;
}

img {
    width: 100%;
    padding: 4px;
}

p {
    display: block;
    margin-left: auto;
    margin-right:  auto;
    text-align: center;
    padding: 0 5%;
}

.photo_carousel {
    padding: 12px;
}

#about_container {
    padding: 1%;
}

section {
    padding: 2%;
    border-top: 1px solid #1966D2;
}

blockquote {
    padding: 8px;
    background-color: #faebbc;
    border-top: 1px solid #e1cc89;
    border-bottom: 1px solid #e1cc89;
    margin: 1% 10%;
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 23px;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.stack_container {
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "serverwords"
    "clientwords"
    "otherwords"
}

.serverwords {
    grid-area: serverwords;
}

.otherwords {
    grid-area: otherwords;
}

.clientwords {
    grid-area: clientwords;
}

.skillwords {
    height: 150px;
}

@media only screen and (min-width : 480px) {

    #about_container {
        padding: 1%;
        margin: 5%
    }

    .skillwords {
        height: 100px;
    }
}

@media only screen and (min-width : 768px) {

    #about_container {
        padding: 1%;
        margin: 5%
    }

    .skillwords {
        height: 200px;
    }
}

@media only screen and (min-width : 1224px) {
    h2 {
        font-size: 40px;
    }

    #about_container {
        padding: 1%;
        margin: 5%
    }

    .skillwords {
        height: 300px;
    }
}

@media only screen and (min-width : 1824px) {
    h2{
        font-size: 50px;
    }

    .stack_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "serverwords   otherwords  clientwords"
}

    .serverwords {
        grid-area: serverwords;
    }

    .otherwords {
        grid-area: otherwords;
    }

    .clientwords {
        grid-area: clientwords;
    }

    .skillwords {
        height: 350px;
    }
}
.slick-dots li {
    display: none;
}